<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cyanogenmod.wundergroundcmweatherprovider" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="cyanogenmod.permission.ACCESS_WEATHER_MANAGER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".WundergroundCMApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".WundergroundWeatherProviderService"
            android:permission="cyanogenmod.permission.BIND_WEATHER_PROVIDER_SERVICE">
            <intent-filter>
                <action android:name="cyanogenmod.weatherservice.WeatherProviderService" />
            </intent-filter>
        </service>
    </application>

</manifest>
