<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2016 The CyanogenMod Project
     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cyanogenmod.wundergroundcmweatherprovider" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="cyanogenmod.permission.ACCESS_WEATHER_MANAGER" />

    <uses-feature android:name="org.cyanogenmod.weather" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".WundergroundCMApplication">

        <activity
            android:name=".DebugActivity"
            android:enabled="false"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".WUBasePreferenceActivity"
            android:exported="true"
            android:label="@string/app_name"/>

        <service android:name=".WundergroundWeatherProviderService"
            android:permission="cyanogenmod.permission.BIND_WEATHER_PROVIDER_SERVICE">
            <intent-filter>
                <action android:name="cyanogenmod.weatherservice.WeatherProviderService" />
            </intent-filter>

            <meta-data
                android:name="cyanogenmod.weatherservice"
                android:resource="@xml/weather_settings_service" />
        </service>
    </application>

</manifest>
